[Container]
AutoUpdate=registry
ContainerName=arcane_agent
Environment=AGENT_MODE=true
Environment=AGENT_BOOTSTRAP_TOKEN=this-is-my-test-bs-token
Group=0
Image=ghcr.io/getarcaneapp/arcane-headless:latest
PodmanArgs=--privileged
PublishPort=3553:3553
User=0
Volume=%t/podman/podman.sock:/var/run/docker.sock
Volume=arcane-agent-data.volume:/app/data

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
